@model Sertifika
@{
    ViewData["Title"] = "SertifikaGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="film-form-wrapper">
    <form asp-action="SertifikaGuncelle" method="post" class="film-form" autocomplete="off">
        <h2 class="film-form-title">Sertifika Güncelle</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="film-form-error">Lütfen tüm alanları eksiksiz ve doğru doldurun.</div>
        }
        <input type="hidden" asp-for="SertifikaId" class="film-form-input" />
        <div class="film-form-group">
            <label for="Ad">Sertifika Adı</label>
            <input type="text" asp-for="Ad" class="film-form-input" value="@Model?.Ad" required />
        </div>
        <div class="film-form-group">
            <label for="ResimUrl">Resim Url</label>
            <input type="url" asp-for="ResimUrl" class="film-form-input" value="@Model?.ResimUrl" required />
        </div>
        <button type="submit" class="film-form-btn">Kaydet</button>
    </form>
</div>
