@model Film
@{
    ViewData["Title"] = "Film Ekle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="film-form-wrapper">
    <form asp-action="FilmGuncelle" method="post" class="film-form" autocomplete="off">
        <h2 class="film-form-title">Film Güncelle</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="film-form-error">Lütfen tüm alanları eksiksiz ve doğru doldurun.</div>
        }
        <input type="hidden" asp-for="FilmId" class="film-form-input"/>
        <div class="film-form-group">
            <label for="Ad">Film Adı</label>
            <input type="text" asp-for="Ad" class="film-form-input" value="@Model?.Ad" required />
        </div>
        <div class="film-form-group">
            <label for="Yil">Yıl</label>
            <input type="text" asp-for="Yil" class="film-form-input" value="@Model?.Yil" required />
        </div>
        <div class="film-form-group">
            <label for="Yonetmen">Yönetmen</label>
            <input type="text" asp-for="Yonetmen" class="film-form-input" value="@Model?.Yonetmen" required />
        </div>
        <div class="film-form-group">
            <label for="IMDbUrl">IMDb Url</label>
            <input type="url" asp-for="IMDbUrl" class="film-form-input" value="@Model?.IMDbUrl" required />
        </div>
        <div class="film-form-group">
            <label for="Poster">Poster Url</label>
            <input type="url" asp-for="Poster" class="film-form-input" value="@Model?.Poster" required />
        </div>
        <button type="submit" class="film-form-btn">Kaydet</button>
    </form>
</div>



