@model List<Blog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h1>Blog Yazılarım</h1>
<div class="project-grid">
    @foreach(var item in Model)
    {
        <div class="project-card">
            <div class="project-image-container">
                <img src="@item.ResimUrl" alt="@item.Baslik" class="project-image">
                <div class="project-title-overlay">@item.Baslik</div>
            </div>
            <a href="@item.BlogUrl" class="project-btn">Yazıya Git</a>
        </div>
    }
</div>


