@model List<Proje>
@{
    ViewData["Title"] = "Proje";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Projelerim</h1>
<div class="project-grid">
    @foreach (var item in Model)
    {
        <div class="project-card">
            <div class="project-image-container">
                <img src="@item.ResimUrl" alt="@item.Baslik" class="project-image">
                <div class="project-title-overlay">@item.Baslik</div>
            </div>
            <a href="@item.ProjeUrl" class="project-btn">Projeye Git</a>
        </div>
    }
</div>


