@model List<Sertifika>
@{
    ViewData["Title"] = "Sertifikalar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Sertifikalar</h1>
<div class="card">
    <div class="card-title">Sertifikalarım</div>
    <div class="certificate-list">
        @foreach (var item in Model)
        {
            <div class="card-item certificate-item">
                <div class="certificate-img-container">
                <img src="@item.ResimUrl" alt="@item.Ad">
                <div class="certificate-overlay">
                    <div>@item.Ad</div>
                </div>
            </div>
        </div>}
    </div>
</div>

