@{
    ViewData["Title"] = "Sertifikalar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Sertifikalar</h1>
<div class="card">
    <div class="card-title">Sertifikalarım</div>
    <div class="certificate-list">
        <div class="card-item certificate-item">
            <div class="certificate-img-container">
                <img src="sertifika1.png" alt="Sertifika 1">
                <div class="certificate-overlay">
                    <div>Murat Yücedağ - Full Stack Web Development (Udemy)</div>
                </div>
            </div>
        </div>
        <div class="card-item certificate-item">
            <div class="certificate-img-container">
                <img src="sertifika2.png" alt="Sertifika 2">
                <div class="certificate-overlay">
                    <div>Murat Yücedağ - Full Stack Web Development (Udemy)</div>
                </div>
            </div>
        </div>
    </div>
</div>

