@model List<Sosyal>
@{
    ViewData["Title"] = "Sosyal";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Sosyal</h1>
<div class="social-btn-grid">
    @foreach (var item in Model)
    {
        <a href="@item.HesapUrl" target="_blank" class="social-btn">
            <img src="@item.PlatformLogo" alt="@item.Platform">
        <span>@item.Platform</span>
    </a>}
</div>

