
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATAMANY</title>
    <link rel="icon" type="image/x-icon" href="https://png.pngtree.com/element_our/png/20181008/cv-logo-template-icon-isolated-on-black-background-png_130993.jpg">
    <link rel="stylesheet" href="~/Portfolio/style.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="profile">
                <img src="https://i.hizliresim.com/f8f3du2.jpg" alt="Profil Resmi" class="profile-img">
                <a href="~/Admin/Index/"><h2>Yiğit Ataman</h2></a>
                <p>Software Developer</p>
            </div>
            <button class="menu-toggle" aria-label="Menüyü Aç/Kapat">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <nav class="menu" id="mainMenu">
                <ul>
                    <li><a href="~/Hobby/Film/">Filmler</a></li>
                    <li><a href="~/Hobby/Dizi/">Diziler</a></li>
                    <li><a href="~/Hobby/Kitap/">Kitaplar</a></li>
                    <li><a href="~/Hobby/Podcast/">Podcastler</a></li>
                    <li><a href="~/Hobby/YouTube/">YouTube Kanalları</a></li>
                    <li><a href="~/Hobby/Tiyatro/">Tiyatrolar</a></li>
                </ul>
                <a href="~/Default/Index/" class="sidebar-hobby-btn">Ana Sayfa</a>
            </nav>
            <div class="sidebar-footer">
                <h6>Made by <a href="https://github.com/Atamany">Atamany</a></h6>
                <h6>Copyright © @DateTime.Now.Year All rights reserved</h6>
            </div>
        </aside>
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
    <script src="~/Portfolio/script.js"></script>
</body>
</html>
